.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#myButton{
  color: white;
}
.img{
  size: '100px';

}
#bgi{
  background-image: url('../public/jewelry/shutterstock_223221508.jpg');
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  /* background:url('../public/jewelry/shopping1.webp'); */
  /* background-repeat: no-repeat;
  background-size: cover;
    background-size: 50%; 
  min-height: 100vh;
   width: 100%;
  height: 100%;
  background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-position: center; */
  /* background-size: 100%;  */
  /* background-size: 80% 90%;
  max-height: 3vh;
  max-height: min-content; */
  /* background-size: auto; */
}

